Site/Service References/ProxyPost/Post1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2589/Post.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS.Model" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS.Model" minOccurs="0" name="obj" nillable="true" type="q1:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS.Model" minOccurs="0" name="obj" nillable="true" type="q2:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS.Model" minOccurs="0" name="obj" nillable="true" type="q3:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Selecionar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS.Model" minOccurs="0" name="SelecionarResult" nillable="true" type="q4:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>