Site/Service References/ProxyCategoria/Categoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Categoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2589/Categoria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2589/Categoria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2589/Categoria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoria_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Selecionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Selecionar" />
  </wsdl:message>
  <wsdl:message name="ICategoria_Selecionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoria">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoria/Inserir" message="tns:ICategoria_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoria/InserirResponse" message="tns:ICategoria_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoria/Alterar" message="tns:ICategoria_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoria/AlterarResponse" message="tns:ICategoria_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoria/Excluir" message="tns:ICategoria_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoria/ExcluirResponse" message="tns:ICategoria_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Selecionar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoria/Selecionar" message="tns:ICategoria_Selecionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoria/SelecionarResponse" message="tns:ICategoria_Selecionar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoria" type="tns:ICategoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/ICategoria/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICategoria/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICategoria/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Selecionar">
      <soap:operation soapAction="http://tempuri.org/ICategoria/Selecionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Categoria">
    <wsdl:port name="BasicHttpBinding_ICategoria" binding="tns:BasicHttpBinding_ICategoria">
      <soap:address location="http://localhost:2589/Categoria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>